<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" language="javaScript">
    async function send() {
        const movies = document.getElementById("movies");
        movies.innerHTML = '';
        const keywordInput = document.getElementById("keyword");
        const genreInput = document.getElementById("genre");
        const response = await fetch("http://127.0.0.1:5000/search?keyword=" + keywordInput.value
            + "&genre=" + genreInput.value).then(response => response.json());


        console.log(response);

        let html = '';

for(let i = 0; i < response.length; i++) {
  let movie = response[i];

  html += `
     <div>${movie.title}</div>
     <div> ${movie.overview}</div>
     <div>${ movie.genres} </div>
     <div>${ movie.release_date}</div>
     <div>${movie.vote_average}</div>
     <div>${movie.name}</div>
  `;
}

    movies.innerHTML = html;


    }

</script>
<input type="text" id="keyword" />
<br>
<select name="genre" id="genre">
    <option value="">Please select...</option>
  <option value="28">Action</option>
  <option value="12">Adventure</option>
  <option value="16">Animation</option>
  <option value="35">Comedy</option>
</select><br />
<button type="submit" onclick="send()">Send</button>
<div id="movies"></div>
</body>
</html>
